:root {
    --primary: #1c3fb1;
    --first-accent: #ce433d;
    --second-accent: #374467;
    --third-accent: #98c379;
    --dark-background: #0c1227;
    --header-dark: #111;
    --article-bg: #f4f4f4;
    --border1: #ddd;
    --border-radius: 8px;
    --bg-muted: #f6f8fa;
    --inline-code: #818b981f;
    --code-comments: #ca7cc8;
}

/* Debug
* {
   outline: 1px solid #f00 !important;
}
*/
html {
    height: 100%;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    background: linear-gradient(345deg,rgba(0, 0, 0, 1) 0%, rgb(52, 67, 103) 100%);    color: #24232c;
    background-attachment: fixed;
    margin: 0;
    color: #333;
}


/* Layout */

#wrap {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

main {
    max-width: 840px;
}


/* Header */

header {
    background-color: #111;
    padding: 0.7rem;
    box-sizing: border-box;
    display: flex;
    gap: 0.5em;
    color: #fff;
    justify-content: space-between;
}

header img {
    width: 24px;
}

header h1 {
    color: #fff;
    font-size: 1rem;
    padding: 1px 0 0 0;
    font-weight: normal;
    margin: 0;
}

#header-title {
    display: flex;
    gap: 0.4rem;
}

#main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3rem;
}

#main-nav a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#main-nav a:hover {
    color: #fff;
}

#menu-toggle {
    display: none;
    border: 1px solid #999;
    padding: 0.2rem 0.3em;
    border-radius: 3px;
    cursor: pointer;
}

#menu-toggle:hover {
    background-color: #333;
}

/* Tyography */

main h1 {
    display: none;
}

h2 {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 1.5rem;
    margin-top: 0px;
}

h3 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
}


/* Tables */

.table-container {
    overflow: auto;
    max-width: calc(100vw - 4rem);
    box-sizing: border-box;
}

table {
    margin-top: 1em;
    border: 1px solid var(--border1);
    border-collapse: collapse;
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f6f8fa;
}

td, th {
    padding: 0.5em;
    border: 1px solid #888;
}

th {
    background-color: var(--second-accent);
    color: #fff;
    border: 1px solid var(--second-accent);
}

h3, h4 {
    margin: 1.6em 0 0.4em 0;
}


/* Inline code style */

h3 > code,
p code,
h2 code,
td code {
    color: var(--first-accent);
    background-color: var(--inline-code);
    border-radius: 2px;
    padding: 0.2em 0.4em;
}

td code {
    margin: 0.2em 0;
    display: inline-block;
}

p {
    margin: 0.4em 0;
}

section {
    box-sizing: border-box;
    margin: 2rem 0;
    width: 100%;
    padding: 3rem 3rem;
    background-color: #fff;
    border-radius: var(--border-radius);
}

article {
    background-color: var(--article-bg);
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 9px rgba(0,0,0,0.1);
}

article > h3 {
    margin-top: -4px;
}


/* Syntax highlighting */
.code-container {
    overflow-x: auto;
    box-sizing: border-box;
    max-width:100vw;
    margin: 0.5em 0;
}

pre {
    white-space: pre;
    overflow-wrap: normal;
    margin: 0;
}

.hljs {
    border-radius: var(--border-radius);
    box-sizing: border-box;
    background-color: var(--dark-background);
    border-left: 5px solid var(--third-accent);
}

.hljs-comment {
    color: var(--code-comments);
}


/* TOC */

#nav-container {
    box-sizing: border-box;
    width: 250px;
    position: sticky;
    height: 100vh;
    padding: 2.8em 2em;
    top: 0rem;
    overflow: auto;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
}

#nav-container.nav-open {
    display: block;
}

#nav-container h4 {
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: var(--primary);
}

#toc {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

#toc a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.3em;
    box-sizing: border-box;
} 

#toc .section-link a:before {
    content: "▶";
    font-size: 0.8em;
    margin-right: 6px;
    color: var(--primary);
}

#toc .section-link .section-open:before {
    content: "▼";
}


#toc .article-link a:before {
    content: none;
}

#toc li {
    margin: 0;    
}

.section-link  {
    border-bottom: 1px solid var(--border1);
}

.section-link ul {
    box-sizing: border-box;
    padding: 0;
    list-style: square;
    padding-left: 1em;
    margin-left: 1em;
    display: none;
}

.article-link {
    margin-left: 0em;
}

#toc .article-link a {
    padding: 0.2em;
    margin: 0;
}

.article-link::marker {
    color: var(--first-accent);
}

.section-link .closed {
    display: none;
}

.section-link .articles-open {
    display: block;
}

#toc .article-link a:hover,
#toc .section-link a:hover,
#toc .active{
    color: var(--primary);
}

#toc .active{
    font-weight: bold;
}


/* Copy to clipboard */

pre {
    overflow-x: auto;
    width: 100%;
    position: relative;    
}

button.copy-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 0.3em;
      font-size: 1em;
      border: none;
      border-radius: 4px;
      background: #a6b7ca44;
      color: white;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.2s, background 0.2s;
    }

button.copy-btn img {
    width: 1rem;
    display: block;
}

button.copy-btn:hover {
    opacity: 1;
    background-color: var(--primary);
}

@media (max-width: 1250px) {
    body {
        background: #fff;
    }

    section {
        padding-top: 2rem;
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--border1)        
    }

    #nav-container {
        padding-top: 2rem;
        margin: 0;
        border-radius:0;
        height: 100vh;
    }

    #wrap {
        gap: 0;
    }
}

@media (max-width: 1000px) {
    #menu-toggle {
        display: block;
    }

    header {
        position: sticky;
        top: 0;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    #wrap {
        flex-direction: column;
    }

    section {
        padding: 2em;
        background-color: transparent;
        border-bottom: 1px solid var(--border1)
    }

    #nav-container {
        position: sticky;
        max-width: max-content;
        width: 100%;
        top: 3.2rem;
        height: max-content;
        margin-bottom: 1rem;
        display: none;
        z-index: 1000;
    }

    #nav-container h4 {
        text-align: center;
    }
    #toc {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
    }

    .section-link {
        border: none;
    }

    #toc a {
        font-size: 0.8rem;
        border: none;
        background-color: #eee;
        padding: 0.6em 1em;
        border: none;
    }

    .section-link .articles-open {
        display: none;
    }

    #toc .section-link a:before {
        content: none;
    }

    #toc .section-link a.section-open:before {
        content: none;
    }

    article {
        padding: 0;
        margin: 1.5em 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .code-container {
        overflow-x: auto;
        box-sizing: border-box;
        max-width:calc(100vw - 4rem);
    }
} 