<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/python-logo-only.png">
    <title>Grunderna i Python</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/atom-one-dark-reasonable.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>
</head>

<body>
    <header>
        <a href="index.html">
            <div id="header-title">
                <div id="logo-container">
                    <img src="img/python-logo-only.png" alt="Python logo">
                </div>
                <h1>Programmering med Python</h1>
            </div>
        </a>
        <nav id="main-nav"></nav>
        <nav>
            <div id="menu-toggle">☰</div>
        </nav>
    </header>
    <div id="wrap">
        <aside id="nav-container">
        </aside>
        <main>
        </main>
    </div>
    <script src="js/main.js"></script>
    <script>hljs.highlightAll();</script>

</body>

</html>